@import "./common.css";

.button {
  background-color: var(--secondary-background);
  height: 25px;
  cursor: pointer;
  width:120px;
}

.button_color-primary {
  background-color: var(--primary-background);
  color: var(--light-text-color);
}
