@import "../base/common.css";

.auth {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.auth-ground {
  background-color: var(--gray-background);
  width: 400px;
  height: 220px;
  border: var(--dark-gray-border) solid 1px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth-ground__name {
  margin-top: var(--margin-size-m);
  text-align: center;
}

.auth-ground__enter-button {
  margin-top: auto;
  margin-bottom: var(--margin-size-l);
}

.auth-ground__create-account-button {
  margin-bottom: var(--margin-size-xxl);
}

.auth-ground__input-form {
  display: flex;
  flex-direction: column;
}

.auth-ground__label {
  font-size: var(--text-size-s);
}

.auth-ground__input-form_margin {
  margin-bottom: var(--margin-size-m);
}
