{
   "semi": true,
   "trailingComma": "all",
   "singleQuote": true,
   "printWidth": 80,
   "tabWidth": 3,
   "arrowParens": "avoid",
   "[html]": {
      "singleQuote": false
    },
    "[js]":{
       "singleQuote":true
    },
   "prettier/prettier": [
      "error",
      {
         "endOfLine": "auto"
      }
   ]
}
