<div>
  <div><b>Страница чатов</b></div>
  <div><a id="not-found-error" href="#">Страница не найдена</a></div>
  <div><a id="error" href="#">Ошибка</a></div>
  <div><a id="profile" href="#">Перейти в профиль</a></div>
</div>