@import '../../components/base/common.css';

.profile {
   position: absolute;
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
   height: 100%;
}

.profile-back {
   position: absolute;
   top: 10px;
   left: 20px;
   width: 50px;
   height: 50px;
   cursor: pointer;
}

.profile-ground {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 450px;
   height: 600px;
   background-color: var(--gray-background);
   border: var(--dark-gray-border) solid 1px;
   border-radius: 30px;
}

.profile-ground__name {
   margin-top: var(--margin-size-m);
   text-align: center;
}

.profile-ground__input-form {
   display: flex;
   flex-direction: column;
}

.profile-ground__label {
   font-size: var(--text-size-s);
}

.profile-ground__input-form_margin {
   margin-bottom: var(--margin-size-m);
}

.profile-ground__password-form {
   margin-top: var(--margin-size-m);
}

.profile-avatar_cursor {
   cursor: pointer;
}
