@import '../../../../../components/base/common.css';
.popup {
   position: absolute;
   margin: auto auto;
   background-color: #f1f1f1;
   border-radius: 20px;
}

.popup__header {
   padding: 5px 10px;
   display: flex;
   justify-content: space-between;
}
.popup__overlay {
   position: fixed;
   z-index: 10000;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   background: rgba(0, 0, 0, 0.7);
   text-align: center;
}

.popup_hide {
   display: none;
}

.popup__close-button {
   cursor: pointer;
}

popup_visible {
   display: block;
}

.user-list-template__body {
   max-height: 330px;
   overflow: auto;
   margin-bottom: var(--margin-size-m);
   padding: 0 10px;
}

.user-list-template__item{
   display: flex;
   justify-content: space-between;
}
.user-list-template__item:hover {
   background-color: khaki;
}

.user-list-template__delete-button {
   color: red;
   cursor: pointer;
}
