<div class="{{classes.error-page__content}}">
  <span>{{{components.headings.heading.template}}}</span>
  <div>
    <img
      class="{{classes.error-page__image}}"
      src="{{image}}"
    />
  </div>
</div>