<div class="{{classes.error-page__content}}">
  <span>{{> heading title=text classes=headingClasses}}</span>
  <div>
    <img
      class="{{classes.error-page__image}}"
      src="{{image}}"
    />
  </div>
</div>