@import './../../../../components/base/common.css';

.dialog-screen {
   background-color: white;
   width: 100%;
}

.dialog-screen__content {
   padding: 0 20px;
   height: 100vh;
   display: flex;
   flex-direction: column;
}

.dialog-screen__header {
   display: flex;
   flex-direction: row;
   align-items: flex-end;
   padding: var(--margin-size-m) 0 var(--margin-size-l) 0;
   border-bottom: 2px solid #eee;
}

.dialog-screen__name {
   margin: 0 var(--margin-size-xl);
}

.dialog-screen__message-input {
   margin-bottom: var(--margin-size-xl);
}

.dialog-screen__empty-view-text {
   display: flex;
   align-items: center;
   height: 100vh;
   justify-content: center;
}
